<Settings> 
	<InputDelimiter>,</InputDelimiter> 
	<Historian>localhost</Historian> 
	<DataSet>CSVImport</DataSet>
	<TagNameOffset>0</TagNameOffset>
	<TimestampOffset>1</TimestampOffset>
	<ValueOffset>2</ValueOffset>
	<KeepProcessedFiles>True</KeepProcessedFiles> 
	<ProcessedDirectory>C:\users\youngtec\Desktop\SAF\Completed</ProcessedDirectory>
	<AutoCreateDataSet>True</AutoCreateDataSet>
</Settings>