 <Settings>
  <HeaderCount>0</HeaderCount>
  <Historian>localhost</Historian>
  <DataSet>CSV</DataSet>
  <DateOffset>0</DateOffset>
  <TimeOffset>1</TimeOffset>
  <TagOffsets>2-7</TagOffsets>
  <KeepProcessedFiles>True</KeepProcessedFiles>
  <ProcessedDirectory>C:\CSV\Processed</ProcessedDirectory>
</Settings> 